<div class="container">
  <div class="row" style="margin-bottom: 2rem; margin-top: 10rem;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button class="btn btn-warning btn-block animate__animated ">
        INSTRUCCIONES
      </button>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button class="btn btn-success btn-block" [routerLink]="['/iniciar-sesion']">
        INICIAR sesion
      </button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
